{% extends 'base.html.twig' %}

{% block title %}MyArtem{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h3>ÉTUDIANT</h3>
        <h1>{{ student.firstName }} {{ student.lastName }}</h1>

        <p>Email: {{ student.email }}</p>

        <p>École: {{ student.school }}</p>

        <p>Slug: {{ student.slug }}</p>
    </div>
{% endblock %}
